<!-- on the podcasts show page add a form that allows you to create a new episode for that specific podcast (the create endpoint for episodes) -->

<h1>Show Podcasts</h1>


<h1>Create A New episode</h1>
